version: "3"

services:
  # MySQL
  db:
    platform: linux/x86_64
    image: mysql:5.7
    volumes:
      - db_data:/var/lib/mysql
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: flow_erp
      MYSQL_PASSWORD: password
    networks:
      - backend

  # phpMyAdmin
  phpmyadmin:
    depends_on:
      - db
    image: phpmyadmin
    restart: always
    ports:
      - 8090:80
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: password
    networks:
      - backend

  # Apache + PHP (XAMP used instead)
  web:
    build: .
    container_name: nette_apache
    ports:
      - 8080:8080
    environment:
      - NETTE_DEBUG=1
    volumes:
      - ./:/var/www/html:cached
      - ./temp:/var/www/html/temp
      - ./app/Migrations:/var/www/html/app/Migrations
    depends_on:
      - db
    networks:
      - backend
    command: sh -c "chmod -R 777 /var/www/html/temp /var/www/html/log && apache2-foreground"
      
networks:
  backend:

volumes:
  db_data:
