services:
	- App\Core\RouterFactory::createRouter
	# Authenticator
	- App\Security\Authenticator
	# Fixtures
	- App\Fixtures\CompanyUserFixture

search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Service
